[mysqld]
server-id=2

relay-log=relay-bin

read_only=ON

log-bin=mysql-bin
log_replica_updates=ON

binlog_format=ROW

gtid_mode=ON
enforce_gtid_consistency=ON

innodb_buffer_pool_size=2G

performance_schema=ON

slow_query_log=ON
long_query_time=1

innodb_monitor_enable=all

skip_name_resolve=ON