[mysqld]
server-id=1

log-bin=mysql-bin
binlog_format=ROW

gtid_mode=ON
enforce_gtid_consistency=ON

innodb_buffer_pool_size=2G

max_connections=500

performance_schema=ON

slow_query_log=ON
long_query_time=1

innodb_monitor_enable=all

skip_name_resolve=ON